.ChooseType {
    display: flex;
    justify-content: center;
    color: grey;
}

.ChooseType p {
    margin: 10px 10px; 
    font-size: 0.8rem;
    cursor: pointer;
}

.highlight {
    color: white; 
    text-shadow: 2px 0px 10px rgba(255, 255, 255, 1);
    transition: text-shadow 0.2s ease-in;
    text-decoration: underline;
    
}



